.alert-danger {
    color: #333;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-weight:bold;
}
.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color:#564848;
}