.form-control {
    height: 48px;
}

.checkbox-inline.disabled,
.checkbox.disabled label,
.radio-inline.disabled,
.radio.disabled label,
fieldset[disabled] .checkbox-inline,
fieldset[disabled] .checkbox label,
fieldset[disabled] .radio-inline,
fieldset[disabled] .radio label,
fieldset[disabled] input[type='checkbox'],
fieldset[disabled] input[type='radio'],
input[type='checkbox'].disabled,
input[type='checkbox'][disabled],
input[type='radio'].disabled,
input[type='radio'][disabled] {
    cursor: not-allowed !important;
}

.disabled {
    cursor: not-allowed !important;
}

form > .row > div,
.inner-form > div {
    min-height: 95px;
}

textarea.form-control {
    border-radius: 3px;
}

.form-item > .checkbox-label {
    cursor: pointer;
    line-height: 48px;
}

.form-item.disabled > .checkbox-label {
    cursor: not-allowed !important;
}

input[type='checkbox'] {
    cursor: pointer;
}

.gender {
    text-align: left;
}

.gender > label {
    display: inline-block;
}

.gender > div {
    display: inline-block;
}

.gender > div:first-child {
    padding-right: 20px;
}

.gender input[type='radio'] {
    margin-top: 10px;
    cursor: pointer;
}

.message {
    color: #fff !important;
    background: #bc373b;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 5px;
    border: 1px solid #781619;
    margin-bottom: 15px;
}

.form-item input[type='date'],
.form-item input[type='email'],
.form-item input[type='number'],
.form-item input[type='password'],
.form-item input[type='search'],
.form-item input[type='select'],
.form-item input[type='tel'],
.form-item input[type='text'],
.form-item input[type='url'] {
    border-color: #777;
}

.select > div {
    border-color: #777;
}

.creatable > div {
    border-color: #777;
}

.form-control {
    border-color: #777;
}

input[type='checkbox'] {
    border-color: #777;
}

input[type='radio'] {
    border-color: #777;
}

.form-control,
output {
    color: #444;
}

div.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    height: 0px;
    line-height: 0px;
}

.hr-title {
    background-color: #708ba1;
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
    padding: 0 15px;
}
