html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background: #5886ac;
    color: #fffce1;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
  }
  
  .logo-fill {
    fill: #d40e14;
  }
  
  #app {
    height: 100%;
  }

  #root
  {
    height:100%;
  }