html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #708ba1;
}

.logo-fill {
  fill: #d40e14;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
}

.divider-up {
  margin-top: 2rem;
}

@media only screen and (min-width: 992px) {
  .logo-tui {
    height: 60px;
    width: 120px;
  }
}