.select.disabled > div > div:first-child > div:last-child
{
    margin-left:-10px!important;
}

.select.disabled > div > div:first-child > div:first-child
{
    color:#444!important;
}

.select.disabled > div
{
    background-color: #aaa!important;
}

.creatable.disabled > div
{
    background-color: #aaa!important;
}

.creatable.disabled > div > div:first-child > div:last-child
{
    margin-left:-10px!important;
}

.creatable.disabled > div > div:last-child > span
{
    opacity: 0.25!important;
}

.select.disabled > div > div:last-child > span
{
    opacity: 0.25!important;
}