.select.disabled > div > div:first-child > div:last-child
{
    visibility: hidden;
}

.select.disabled > div > div:first-child > div:first-child
{
    color:#444!important;
}

.select.disabled > div
{
    background-color: #ccc!important;
}

.creatable.disabled > div
{
    background-color: #ccc!important;
}

.creatable.disabled > div > div:first-child > div:last-child
{
    visibility: hidden;
}

.creatable.disabled > div > div:last-child > span
{
    opacity: 0.25!important;
}

.select.disabled > div > div:last-child > span
{
    opacity: 0.25!important;
}

.select.disabled > div > div > div
{
    opacity: 0.75;
}